<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <servlet-class>ShowUnactivatedCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCustomerStatus</servlet-name>
        <servlet-class>ChangeCustomerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <servlet-class>ShowUnactivatedOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOwnerStatus</servlet-name>
        <servlet-class>ChangeOwnerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProperty</servlet-name>
        <servlet-class>SaveProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOwnProperty</servlet-name>
        <servlet-class>ShowOwnProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <url-pattern>/ShowUnactivatedCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCustomerStatus</servlet-name>
        <url-pattern>/ChangeCustomerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <url-pattern>/ShowUnactivatedOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOwnerStatus</servlet-name>
        <url-pattern>/ChangeOwnerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProperty</servlet-name>
        <url-pattern>/SaveProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOwnProperty</servlet-name>
        <url-pattern>/ShowOwnProperty</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
